img {
    margin: auto;
}
#qrcode {
    display: none;
}
.card {
    border-radius: 10px !important;
    margin-bottom: 5% !important;
}
.card-body {
    padding: 50px !important;
}
input {
    padding: 10px !important;
    border-radius: 25px !important;
}
select {
    padding: 10px !important;
    border-radius: 25px !important;
}